<form novalidate (ngSubmit)="submitN()" [formGroup]="novels">
  <div
    style="
      left: 25%;
      top: 37%;

      background-color: rgba(0, 0, 0, 0.849);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      height: 63vh;
      width: 74%;
      font-family: henny;
    "
    class="position-absolute text-white shadow-lg d-flex flex-column justify-content-around align-items-center"
  >
    <h5>Novel Template</h5>

    <div style="width: 98%" class="d-flex justify-content-around">
      <div style="width: 30%" class="form-group">
        <input
          type="text"
          name=""
          id=""
          class="form-control"
          formControlName="title"
          placeholder="Name of Novel"
        />
        <small>
          <span
            class="text-danger"
            *ngIf="(f['title'].touched || submitted) && f['title'].errors?.['required']"
            >Title is required</span
          ></small
        >
      </div>

      <div style="width: 30%" class="form-group">
        <input
          type="file"
          name=""
          id=""
          class="form-control"
          formControlName="file"
          (change)="uploadFile($event)"
          [ngClass]="{ 'is-invalid': submitted && f.file.errors }"
          #image
        />
        <small
          >This file is for record cover
          <span
            class="text-danger"
            *ngIf="(f['file'].touched || submitted) && f['file'].errors?.['required']"
            >File is required</span
          ></small
        >
      </div>

      <div style="width: 30%" class="form-group">
        <input
          type="text"
          name=""
          id=""
          class="form-control"
          formControlName="ratings"
          placeholder="Ratings"
        />
        <small>
          <span
            class="text-danger"
            *ngIf="(f['ratings'].touched || submitted) && f['ratings'].errors?.['required']"
            >Ratings is required</span
          ></small
        >
      </div>
    </div>

    <div style="width: 95%" class="form-group">
      <textarea
        style="width: 98%; height: 20vh; outline: none; border: none"
        formControlName="description"
        id=""
        placeholder="Type and description"
      ></textarea>
      <small>
        <span
          class="text-danger"
          *ngIf="(f['description'].touched || submitted) && f['description'].errors?.['required']"
          >Description is required</span
        ></small
      >
    </div>

    <div style="width: 90%" class="d-flex justify-content-around">
      <div style="width: 32%" class="form-group">
        <input
          type="text"
          name=""
          id=""
          class="form-control"
          formControlName="author"
          placeholder="Author"
        />
        <small>
          <span
            class="text-danger"
            *ngIf="(f['author'].touched || submitted) && f['author'].errors?.['required']"
            >Author is required</span
          ></small
        >
      </div>

      <div style="width: 30%" class="form-group">
        <input
          type="text"
          name=""
          id=""
          class="form-control"
          formControlName="date"
          placeholder="Release Date"
        />
        <small>
          <span
            class="text-danger"
            *ngIf="(f['date'].touched || submitted) && f['date'].errors?.['required']"
            >Release Date is required</span
          ></small
        >
      </div>

      <div style="width: 30%" class="form-group">
        <input
          type="text"
          name=""
          id=""
          class="form-control"
          formControlName="genre"
          placeholder="Genre"
        />
        <small>
          <span
            class="text-danger"
            *ngIf="(f['genre'].touched || submitted) && f['genre'].errors?.['required']"
            >Genre is required</span
          ></small
        >
      </div>
    </div>

    <div class="form-group w-25">
      <button
        [disabled]="novels?.invalid || submitted"
        class="btn btn-info w-100"
      >
        Create Post
        <span
          *ngIf="submitted"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
      </button>
    </div>
  </div>
</form>
