.one {
  /* background-image: url(../../../assets/Images/ad.JPG); */
  background-position: inherit;
  background-size: cover;

  background-repeat: no-repeat;
}

/* .fafa-heart{
  font-size: 70px !important;
} */
