<app-navbar></app-navbar>
<div
  style="height: 90vh; width: 100%"
  class="container-fluid d-flex text-white flex-column justify-content-around align-items-center dng"
>
  <div
    style="height: 35%"
    class="w-100 d-flex flex-column justify-content-evenly align-items-center"
  >
    <div class="title" style="font-size: 85px">Welcome to Jomii's Blog!!</div>
    <div>
      <h3>We Serve Exquisite Content...</h3>
    </div>
  </div>

  <div
    style="height: 35%"
    class="w-100 extras d-flex flex-column align-items-center justify-content-evenly"
  >
    <div
      style="height: 42%"
      class="d-flex btns w-75 justify-content-between align-items-center"
    >
      <button
        class="bg-dark text-white"
        style="height: 60px; width: 28%; border-radius: 15px"
      >
        JB:: a website where we do it all.
      </button>
      <button
        class="bg-white"
        style="height: 60px; width: 28%; border-radius: 15px"
      >
        Explore your fav music tracks
      </button>
      <button
        class="bg-dark text-white"
        style="height: 60px; width: 29%; border-radius: 15px"
      >
        Experience one of a kind aesthetics
      </button>
    </div>
    <div
      style="height: 40%"
      class="w-100 alone d-flex justify-content-center align-items-center"
    >
      <button
        style="
          height: 60px;
          width: 65%;
          border-radius: 15px;
          background-color: rgb(116, 224, 224);
        "
      >
        See all your fav movies and shows, novels and entertainment news
      </button>
    </div>
  </div>

  <div style="height: 18%" class="w-100">
    <div
      style="width: 100px; height: 100px; border: 1px solid aqua"
      class="ball position-absolute text-white rounded-pill d-flex flex-column justify-content-center align-items-center"
    >
      Get Started
    </div>
  </div>
</div>
<app-default-stories></app-default-stories>
<app-footer></app-footer>
