@media (max-width: 1000px) {
  .mv {
    width: 70% !important;
  }
}
@media (max-width: 650px) {
  .mv {
    width: 90% !important;
  }
}
@media (max-width: 480px) {
  .mv {
    border-radius: 30px !important;
    width: 99% !important;
    padding: 10px !important;
  }
  .fa-user {
    font-size: 100px !important;
  }
}
