<nav class="navbar navbar-expand-lg shadow-sm text-white">
  <div
    class="d-flex justify-content-between m-2 align-items-center"
    style="height: 100%; width: 100%"
  >
    <div
      class="d-flex justify-content-evenly logos align-items-center"
      style="height: 50px; width: 18%"
    >
      <div class="imag" style="height: 50px; width: 50px">
        <img
          width="100%"
          height="100%"
          style="border-radius: 100%"
          src="assets/Images/Blog Logo J.webp"
          alt="logo"
        />
      </div>
      <span style="font-size: 40px">JB</span>
    </div>

    <div
      class="d-flex content justify-content-evenly align-items-center"
      style="height: 50px; width: 44%"
    >
      <span style="font-size: 12px"
        ><i class="fa fa-check" style="color: #00ff95"></i> Movies</span
      >
      <span style="font-size: 12px"
        ><i class="fa fa-check" style="color: #00ff95"></i> Music</span
      >
      <span style="font-size: 12px"
        ><i class="fa fa-check" style="color: #00ff95"></i> Aesthetics</span
      >
      <span style="font-size: 12px"
        ><i class="fa fa-check" style="color: #00ff95"></i> Novels</span
      >
      <span style="font-size: 12px"
        ><i class="fa fa-check" style="color: #00ff95"></i> Life-stories</span
      >
    </div>

    <div
      style="width: 25%; height: 50px"
      class="ww d-flex sign justify-content-evenly"
    >
      <button class="btn btn bg-info">
        <a class="text-dark" routerLink="/signup" style="text-decoration: none"
          >Sign Up</a
        >
      </button>
      <button class="btn btn-info bg-dark text-white">
        <a class="text-white" routerLink="/signin" style="text-decoration: none"
          >Sign In</a
        >
      </button>
    </div>
  </div>
</nav>
