<form novalidate (ngSubmit)="submitS()" [formGroup]="story">
  <div
    style="
      left: 25%;
      top: 37%;

      background-color: rgba(0, 0, 0, 0.849);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      height: 63vh;
      width: 74%;
      font-family: henny;
    "
    class="position-absolute templ text-white shadow-lg d-flex flex-column justify-content-around align-items-center"
  >
    <h5>MyStory Template</h5>

    <div style="width: 98%" class="d-flex justify-content-evenly">
      <div style="width: 28%" class="form-group">
        <input
          type="text"
          name=""
          id=""
          class="form-control"
          formControlName="title"
          placeholder="Name"
        />
        <small>
          <span
            class="text-danger"
            *ngIf="(f['title'].touched || submitted) && f['title'].errors?.['required']"
            >Title is required</span
          ></small
        >
      </div>

      <div style="width: 28%" class="form-group">
        <input
          type="text"
          name=""
          id=""
          class="form-control"
          formControlName="dob"
          placeholder="Date of Birth"
        />
        <small>
          <span
            class="text-danger"
            *ngIf="(f['dob'].touched || submitted) && f['dob'].errors?.['required']"
            >Date of Birth is required</span
          ></small
        >
      </div>

      <div style="width: 28%" class="form-group">
        <input
          type="file"
          name=""
          id=""
          class="form-control"
          formControlName="file"
          (change)="uploadFile($event)"
          [ngClass]="{ 'is-invalid': submitted && f.file.errors }"
          #image
        />
        <small
          >This file is for record cover
          <span
            class="text-danger"
            *ngIf="(f['file'].touched || submitted) && f['file'].errors?.['required']"
            >File is required</span
          ></small
        >
      </div>
    </div>

    <div
      style="width: 98%"
      class="form-group d-flex justify-content-around align-items-center"
    >
      <div
        style="width: 38%"
        class="h-100 d-flex flex-column align-items-center justify-content-evenly"
      >
        <div style="width: 90%" class="form-group">
          <input
            type="text"
            name=""
            id=""
            class="form-control"
            formControlName="project"
            placeholder="Project"
          />
          <small>
            <span
              class="text-danger"
              *ngIf="(f['project'].touched || submitted) && f['project'].errors?.['required']"
              >Project is required</span
            ></small
          >
        </div>

        <div style="width: 90%" class="form-group">
          <input
            type="text"
            name=""
            id=""
            class="form-control"
            formControlName="ig"
            placeholder="Instagram_Handle"
          />
          <small>
            <span
              class="text-danger"
              *ngIf="(f['ig'].touched || submitted) && f['ig'].errors?.['required']"
              >Instagram_Handle is required</span
            ></small
          >
        </div>
      </div>

      <div style="width: 60%" class="h-100">
        <textarea
          style="width: 98%; height: 20vh; outline: none; border: none"
          formControlName="description"
          id=""
          placeholder="Type and description"
        ></textarea>
        <small>
          <span
            class="text-danger"
            *ngIf="(f['description'].touched || submitted) && f['description'].errors?.['required']"
            >Description is required</span
          ></small
        >
      </div>
    </div>

    <div style="width: 98%" class="d-flex justify-content-around">
      <div style="width: 28%" class="form-group">
        <input
          type="text"
          name=""
          id=""
          class="form-control"
          formControlName="age"
          placeholder="Age"
        />
        <small>
          <span
            class="text-danger"
            *ngIf="(f['age'].touched || submitted) && f['age'].errors?.['required']"
            >Age is required</span
          ></small
        >
      </div>

      <div style="width: 28%" class="form-group">
        <input
          type="text"
          name=""
          id=""
          class="form-control"
          formControlName="career"
          placeholder="Career"
        />
        <small>
          <span
            class="text-danger"
            *ngIf="(f['career'].touched || submitted) && f['career'].errors?.['required']"
            >Career is required</span
          ></small
        >
      </div>

      <div style="width: 28%" class="form-group">
        <input
          type="text"
          name=""
          id=""
          class="form-control"
          formControlName="nationality"
          placeholder=" Nationality"
        />
        <small>
          <span
            class="text-danger"
            *ngIf="(f['nationality'].touched || submitted) && f['nationality'].errors?.['required']"
          >
            Nationality is required</span
          ></small
        >
      </div>
    </div>

    <div class="form-group w-50">
      <button
        [disabled]="story?.invalid || submitted"
        class="btn btn-info w-100"
      >
        Create Post
        <span
          *ngIf="submitted"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
      </button>
    </div>
  </div>
</form>
