@media (max-width: 850px) {
  .cops {
    height: 19vh !important;
    /* background-color: rgb(50, 238, 175); */
    justify-content: space-between !important;
    align-items: center !important;
    flex-direction: column !important;
  }
}
@media (max-width: 630px) {
  .p-2 div {
    width: 100% !important;
    /* background-color: red; */
  }
  .brd {
    border-bottom: 1px solid rgba(255, 255, 255, 0.671);
    padding: 20px !important;
  }
  .p-2 {
    /* background-color: rgb(0, 255, 179); */
    flex-direction: column !important;
  }
}
