<div
  style="background: black; font-family: redressed; min-height: 50vh"
  class="container-fluid w-100 d-flex flex-column justify-content-between"
>
  <div style="height: 90%" class="text-white w-100 d-flex p-2">
    <div style="width: 23%; height: 100%; text-align: center">
      <h4 class="text-info">Why we Exist!</h4>
      J's blog is a mini entertainment space. It's a platform to catch up with
      both vintage and new movies. Its a careful blend of both the music and
      writing industry. It provides a safe space for all generations to share
      their story and inspire others, and It's also a medium through which you
      can connect with your inner-self and explore your creativeness through
      aesthetics.
    </div>

    <div style="width: 23%; height: 100%; text-align: center">
      <h4 class="text-info">Connect with Me...</h4>
      <div class="h-75 d-flex flex-column justify-content-between">
        <div>
          <img
            width="30px"
            src="../../../assets/Images/icons8-instagram-48.png"
            alt=""
          />
          on Instagram @jomi.loju_x
        </div>
        <div>
          <a href="mailto:getjommy@gmail.com">
            <img
              width="30px"
              src="../../../assets/Images/icons8-mail-94.png"
              alt=""
            />
          </a>
          Send an Email
        </div>
        <div>
          <img
            width="30px"
            src="../../../assets/Images/icons8-whatsapp-48.png"
            alt=""
          />
          share your story
        </div>
        <div>
          <img
            width="30px"
            src="../../../assets/Images/icons8-twitter-48.png"
            alt=""
          />
          On Twitter
        </div>
        <div>
          <img
            width="30px"
            src="../../../assets/Images/icons8-phone-94.png"
            alt=""
          />
          (+234)805-548-4696
        </div>
        <div>
          <img
            width="30px"
            src="../../../assets/Images/icons8-github-32.png"
            alt=""
            onclick="window.open('https://github.com/JOMI18', '_blank')"
          />
          See more Projects
        </div>
      </div>
    </div>

    <div style="width: 23%; height: 100%; text-align: center">
      <h4 class="text-info">For the Record!</h4>
      <div class="d-flex flex-column justify-content-evenly">
        <div>Icons by Icon8 & font awesome</div>
        <div>J Logo by Free Vectors</div>
        <div>Inspired by JF</div>
        <div>Fonts from Googlefonts</div>
      </div>
    </div>

    <div style="width: 23%; height: 100%; text-align: center">
      <h4 class="text-info">Our Services...</h4>
      <div class="h-75 d-flex flex-column justify-content-evenly">
        <div>Music Tracks</div>
        <div>Life-Stories</div>
        <div>Aesthetics</div>
        <div>Movies & Series</div>

        <div>Novels</div>
      </div>
    </div>
  </div>

  <hr class="text-white" />
  <div
    style="height: 10%"
    class="text-white d-flex align-items-center justify-content-center"
  >
    Copyrights
    <span
      ><img
        width="30px"
        src="../../../assets/Images/icons8-copyright-64.png"
        alt=""
    /></span>
    2023 Jomiloju O.
    <sup><i class="fa fa-trademark text-white"></i></sup> Production. All Rights
    Reserved. No part of this site or its content can be re-used without prior
    permission.
  </div>
</div>
